.header {
  width: 100%;
  height: 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo {
  width: 180px;
  line-height: 1;
}

.hamburger_menu {
  display: block;
  width: 30px;
  height: 30px;
  align-items: center;
  position: relative;
  top: 0;
  right: 0;
  cursor: pointer;
  transition: 0.4s;
  z-index: 20;
}

.hamburger_menu span {
  width: 30px;
  height: 2px;
  background: #333;
  position: absolute;
  left: 0;
  border-radius: 4px;
  transition: 0.4s ease-in-out;
}
.hamburger_menu span:nth-child(1) {
  top: 10px;
}
.hamburger_menu span:nth-child(2) {
  bottom: 10px;
}

.hamburger_menu.active span:nth-child(1) {
  background-color: #fff;
  -webkit-transform: translateY(4px) rotate(-45deg);
  transform: translateY(4px) rotate(-45deg);
}

.hamburger_menu.active span:nth-child(2) {
  background-color: #fff;
  -webkit-transform: translateY(-4px) rotate(45deg);
  transform: translateY(-4px) rotate(45deg);
}

.mask {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.mask.hidden {
  display: none;
}

.header_nav {
  color: #fff;
  position: fixed;
  top: 50px;
  z-index: 20;
}

.header_nav_list {
  transition: transform 0.3s;
}
.header_nav_list li {
  margin-bottom: 20px;
  font-size: 0.85rem;
}

.header_nav.hidden .header_nav_list {
  transform: translateX(-150px);
}

.wrapper {
  width: 100%;
  max-width: 1360px;
  padding: 0 40px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sec_title {
  font-size: 14px;
  margin: 30px 0 30px;
}

.footer {
  font-size: 12px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 900px) {
  .footer {
    flex-direction: column;
  }
}

.footer_menu {
  padding-bottom: 10px;
  display: flex;
}
.footer_menu li + li {
  margin-left: 30px;
}

.copywrite {
  padding-bottom: 10px;
}

body {
  color: #333333;
}

.company__info {
  width: 600px;
}
@media (max-width: 900px) {
  .company__info {
    width: 100%;
  }
}
.company__info dl {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.9rem;
  margin: 50px 0 30px;
  line-height: 1.4;
}
@media (max-width: 900px) {
  .company__info dl {
    flex-direction: column;
  }
}
.company__info dt {
  width: 30%;
  padding-left: 10px;
  margin-top: 24px;
  padding-bottom: 24px;
  font-weight: normal;
  border-bottom: 1px solid #d7d2d2;
}
.company__info dt:last-of-type {
  border: none;
}
@media (max-width: 900px) {
  .company__info dt {
    border: none;
    padding-bottom: 8px;
  }
}
.company__info dd {
  width: 70%;
  margin-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #d7d2d2;
}
.company__info dd:last-of-type {
  border: none;
}
@media (max-width: 900px) {
  .company__info dd {
    margin-top: 0;
    margin-left: 10px;
  }
}

.company__map {
  max-width: 600px;
  max-height: 300px;
  margin-bottom: 80px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

/*# sourceMappingURL=company.css.map */
