@use "view";
@use "mixin";

.footer {
  font-size: 12px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  @include mixin.sp {
    flex-direction: column;
  }
}

.footer_menu {
  padding-bottom: 10px;
  display: flex;
  li + li {
    margin-left: 30px;
  }
}

.copywrite {
  padding-bottom: 10px;
}
